<link href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css" rel="stylesheet" type="text/css"/>
{{#each css}}
    <style>{{this}}</style>
{{/each}}
<h1 class=>Eyeball<button id="eyeballClose" class="ui button mini">X</button></h1>
<h2 id="eyeballStatus" class="ui header">Sending this page to Eyeball...</h2>
<div class="ui active striped progress">
    <div id="eyeballProgress" class="bar"></div>
</div>
<div id="eyeballContent">
    {{> content}}
</div>