<h1 class=>Eyeball<button id="eyeballClose" class="ui button mini">X</button></h1>
<h2 id="eyeballStatus" class="ui header">Sending this page to Eyeball...</h2>
<div class="ui active striped progress">
    <div id="eyeballProgress" class="bar"></div>
</div>
<h2 class="ui top attached header">
    <div class="content">
        Eyeball results
        <div class="sub header">Grades for page quality</div>
    </div>
</h2>
<div id="eyeballGrades" class="ui segment attached">
    <div class="ui active text loader">Loading</div>
</div>
<h3 id="eyeballGradesFooter" class="ui bottom attached header"></h3>
<h2 class="ui top attached header">
    <div class="content">
        HTTP metrics
        <div class="sub header">Metrics for page performance</div>
    </div>
</h2>
<div id="eyeballCharts" class="ui segment attached">
    <div class="ui active text loader">Loading</div>
</div>
<h3 id="eyeballChartsFooter" class="ui bottom attached header"></h3>