include ../test
include ../detail

mixin test


div.container

    mixin detailNav('detail')

    div(class='panel panel-default')
        div.panel-heading Overview
        div.panel-body
            table.keyinfo
                tr
                    td(ng-repeat="f in fields", class='alert grade{{data.metrics[f.tool].grades[f.metric]}}')
                        span(class='badge') {{data.metrics[f.tool].grades[f.metric]}}
                        |&nbsp;{{f.name}} ({{format(data.metrics[f.tool].data[f.metric],f.format)}})

    div(ng-repeat="f in fields",class='panel panel-default')
        div(class='panel-heading grade{{data.metrics[f.tool].grades[f.metric]}}')
            span.badge {{data.metrics[f.tool].grades[f.metric]}}
            |&nbsp;{{f.name}}
        div.panel-body
            div.row
                div.col-md-4
                    table.table.table-striped
                        tr(ng-repeat="m in fieldConfig[f.tool]")
                            td
                                span(class='badge grade{{data.metrics[f.tool].grades[m.metric]}}') {{data.metrics[f.tool].grades[m.metric]}}
                            td  {{m.name}}
                            td  {{format(data.metrics[f.tool].data[m.metric],m.format)}}
                div.col-md-8
                    div(ng-if="f.tool === 'time'")
                        Some explanatory stuff about the timings
                    table.table.table-striped(ng-if="f.tool === 'yslow'")
                        tr(ng-repeat='i in data.metrics.yslow.data.g',ng-if='i.score < 100')
                            td
                                span(class='badge grade{{i.grade}}') {{i.grade}}
                            //td {{i.score}}
                            td
                                strong {{i.rule}}
                                p {{i.message}}

