include ../test
include ../common

mixin test


div.container

    ul.nav.nav-tabs
        li.active
            a(href='') Detail
        li.disabled
            a(href='') HAR analysis
        li
            a(href='#/history/:{{id}}') History

    div(class='panel panel-default')
        div.panel-heading Overview
        div.panel-body
            table.keyinfo
                tr
                    td(class='alert grade{{data.metrics.yslow.grades.lt}}')
                        span(class='badge') {{data.metrics.yslow.grades.lt}}
                        |&nbsp;Load time ({{data.metrics.yslow.data.lt/1000}} s)
                    td(class='alert grade{{data.metrics.yslow.grades.o}}')
                        span(class='badge') {{data.metrics.yslow.grades.o}}
                        |&nbsp;YSlow
                    td(class='alert grade{{data.metrics.dommonster.grades.COMPOSITE_stats}}')
                        span(class='badge') {{data.metrics.dommonster.grades.COMPOSITE_stats}}
                        |&nbsp;DomMonster


    div(class='panel panel-default')
        div(class='panel-heading grade{{data.metrics.yslow.grades.o}}')
            span.badge {{data.metrics.yslow.grades.o}}
            |&nbsp;YSlow
        div.panel-body
            div.row
                div.col-md-4
                    table.table.table-striped
                        tr
                            td(class='grade{{data.metrics.yslow.grades.o}}')
                                span.badge {{data.metrics.yslow.grades.o}}
                            td(class='grade{{data.metrics.yslow.grades.o}}') Overall
                            td(class='grade{{data.metrics.yslow.grades.o}}')
                        tr
                            td
                                span(class='badge grade{{data.metrics.yslow.grades.w}}') {{data.metrics.yslow.grades.w}}
                            td  Page size
                            td  {{data.metrics.yslow.data.w}} bytes
                        tr
                            td
                                span(class='badge grade{{data.metrics.yslow.grades.w_c}}') {{data.metrics.yslow.grades.w_c}}
                            td  Page size (cached)
                            td  {{data.metrics.yslow.data.w_c}} bytes
                        tr
                            td
                                span(class='badge grade{{data.metrics.yslow.grades.r}}') {{data.metrics.yslow.grades.r}}
                            td  HTTP Requests
                            td  {{data.metrics.yslow.data.r}}
                        tr
                            td
                                span(class='badge grade{{data.metrics.yslow.grades.r_c}}') {{data.metrics.yslow.grades.r_c}}
                            td  HTTP Requests (cached)
                            td  {{data.metrics.yslow.data.r}}
                        tr
                            td
                                span(class='badge grade{{data.metrics.yslow.grades.g.yminify}}') {{data.metrics.yslow.grades.g.yminify}}
                            td  Inline JS/CSS
                            td  {{data.metrics.yslow.data.g.yminify}}
                div.col-md-8
                    table.table.table-striped
                        tr(ng-repeat='i in data.metrics.yslow.data.g',ng-if='i.score < 100')
                            td
                                span(class='badge grade{{i.grade}}') {{i.grade}}
                            //td {{i.score}}
                            td
                                strong {{i.rule}}
                                p {{i.message}}

