include ../test

mixin test


div.container

    ul.nav.nav-tabs
        li
            a(href='#/detail/:{{id}}') Detail
        li.active
            a(href='') HAR analysis
        li
            a(href='#/history/:{{id}}') History

    div.panel.panel-default
        div.panel-heading Primed cache
        div.panel-body.text-center
            div#harContainer
    div.panel.panel-default
        div.panel-heading Uncached
        div.panel-body.text-center
            div#harUncached