include ../test
include ../common

div.container.table-responsive(ng-controller='ReportOverviewCtrl')

    mixin test

    table#results.table.table-striped
        thead
            tr
                th URL
                th Date
                th Build
                th Tag
                th.text-center Load time
                th.text-center YSlow
                th.text-center DomMonster
                th.text-center Validator
        tbody
            tr.warning
                td(data-sort="a")
                    a(href='#/report?build={{query.build}}',ng-if='query.url') {{query.url}}
                td
                td
                    a(href='#/report?url={{query.url}}',ng-if='query.build') {{query.build}}
                td
                td.text-center
                    span(class="label label-{{totals.time.class}}") {{totals.time.message}} ({{totals.time.score}}%)
                td.text-center
                    span(class="label label-{{totals.yslow.o.class}}") {{totals.yslow.o.message}} ({{totals.yslow.o.score}}%)
                td.text-center
                    span(class="label label-{{totals.dommonster.COMPOSITE_stats.class}}") {{totals.dommonster.COMPOSITE_stats.message}} ({{totals.dommonster.COMPOSITE_stats.score}}%)
                td.text-center

            tr(ng-repeat='r in results')
                td  {{r._id}}
                    a(href='#/report?url={{r.url}}&build={{query.build}}') {{r.url}}
                td {{r.timestamp | date:'shortDate'}}
                td
                    a(href='#/report?build={{r.build}}&url={{query.url}}') {{r.build}}
                td {{r.tag}}
                td(class='text-center grade{{r.metrics.yslow.grades.lt}}',data-type='grades',ng-mouseenter='setPopoverContent({name:"time",value : r.metrics.yslow.data.lt/1000, grade : r.metrics.yslow.grades.lt})',ng-mouseleave='setPopoverContent()')
                    span.badge {{r.metrics.yslow.grades.lt}}
                td(class='text-center grade{{r.metrics.yslow.grades.o}}',data-type='grades',ng-mouseenter='setPopoverContent(r.metrics.yslow)',ng-mouseleave='setPopoverContent()')
                    a(href='#/report/yslow?{{queryString}}')
                        span.badge {{r.metrics.yslow.grades.o}}
                td(class='text-center grade{{r.metrics.dommonster.grades.COMPOSITE_stats}}',data-type='grades',ng-mouseenter='setPopoverContent(r.metrics.dommonster)',ng-mouseleave='setPopoverContent()')
                    span.badge {{r.metrics.dommonster.grades.COMPOSITE_stats}}
                td(class='text-center grade{{r.metrics.validator.grades.COMPOSITE_info}}',data-type='grades',ng-mouseenter='setPopoverContent(r.metrics.validator)',ng-mouseleave='setPopoverContent()')
                    span.badge {{r.metrics.validator.grades.COMPOSITE_info}}

            tr.warning
                td(data-sort="z")
                    a(href='#/report?build={{query.build}}',ng-if='query.url') {{query.url}}
                td
                td
                    a(href='#/report?url={{query.url}}',ng-if='query.build') {{query.build}}
                td
                td.text-center
                    span(class="label label-{{totals.time.class}}") {{totals.time.message}} ({{totals.time.score}}%)
                td.text-center
                    span(class="label label-{{totals.yslow.o.class}}") {{totals.yslow.o.message}} ({{totals.yslow.o.score}}%)
                td.text-center
                    span(class="label label-{{totals.dommonster.COMPOSITE_stats.class}}") {{totals.dommonster.COMPOSITE_stats.message}} ({{totals.dommonster.COMPOSITE_stats.score}}%)
                td.text-center

    div#popoverContent.ng-hide
        ul.list-group(ng-if='popoverContent.name === "time"')
            li(class='list-group-item grade{{popoverContent.grade}}') {{popoverContent.value}} s&nbsp;
                span(class='badge') {{popoverContent.grade}}
        ul.list-group(ng-if='popoverContent.tool === "yslow"')
            li(class='list-group-item grade{{popoverContent.grades.o}}') Overall&nbsp;
                span(class='badge') {{popoverContent.grades.o}}
            li.list-group-item Page Size&nbsp;
                span(class='badge grade{{popoverContent.grades.w}}') {{popoverContent.grades.w}}
            li.list-group-item Page Size (cached)&nbsp;
                span(class='badge grade{{popoverContent.grades.w_c}}') {{popoverContent.grades.w_c}}
            li.list-group-item Requests&nbsp;
                span(class='badge grade{{popoverContent.grades.r}}') {{popoverContent.grades.r}}
            li.list-group-item Requests (cached)&nbsp;
                span(class='badge grade{{popoverContent.grades.r_c}}') {{popoverContent.grades.r_c}}
            li.list-group-item Inline JS/CSS&nbsp;
                span(class='badge grade{{popoverContent.grades.yminify}}') {{popoverContent.grades.yminify}}

        ul.list-group(ng-if='popoverContent.tool === "dommonster"')
            li(class='list-group-item grade{{popoverContent.grades.COMPOSITE_stats}}') Overall&nbsp;
                span(class='badge') {{popoverContent.grades.COMPOSITE_stats}}

