include ../test

div.navbar
    button.btn.btn-primary(type="button" data-toggle="modal" data-target="#myModal") Test
div.container.table-responsive(ng-controller='ReportYslowCtrl')

    mixin test

    table.table.table-striped
        tr
            th URL
            th Date
            th Build
            th Tag
            th.text-center Overall
            th.text-center Page size
            th.text-center Page size (cached)
            th.text-center HTTP Requests
        tr.warning
            td
                a(href='#/report?build={{query.build}}') {{query.url}}
            td
            td
                a(href='#/report?url={{query.url}}') {{query.build}}
            td
              td.text-center
                span(class="label label-{{totals.yslow.o.class}}") {{totals.yslow.o.message}} ({{totals.yslow.o.score}}%)
            td.text-center
                span(class="label label-{{totals.yslow.w.class}}") {{totals.yslow.w.message}} ({{totals.yslow.w.score}}%)
            td.text-center
                span(class="label label-{{totals.yslow.w_c.class}}") {{totals.yslow.w_c.message}} ({{totals.yslow.w_c.score}}%)
            td.text-center
                span(class="label label-{{totals.yslow.r.class}}") {{totals.yslow.r.message}} ({{totals.yslow.r.score}}%)

        tr(ng-repeat='r in results')
            td
                a(href='#/report?url={{r.url}}&build={{query.build}}') {{r.url}}
            td {{r.timestamp | date:'shortDate'}}
            td
                a(href='#/report?build={{r.build}}&url={{query.url}}') {{r.build}}
            td {{r.tag}}
            td(class='text-center grade{{r.metrics.yslow.grades.o}}') {{r.metrics.yslow.grades.o}}
            td(class='text-center grade{{r.metrics.yslow.grades.w}}') {{r.metrics.yslow.grades.w}} ({{r.metrics.yslow.data.w}})
            td(class='text-center grade{{r.metrics.yslow.grades.w_c}}') {{r.metrics.yslow.grades.w_c}}
            td(class='text-center grade{{r.metrics.yslow.grades.r}}') {{r.metrics.yslow.grades.r}}
