#eyeballBookmarklet {
    position: fixed;
    top : 0;
    left :0;
    height: 100%;
    background: rgba(255,255,255,0.5);
    padding: 0 10px 20px 10px;
    font-family: Verdana, Helvetica,Arial,sans-serif !important;
    width: 350px;
    overflow-y : auto;
    font-size: 11px;
}
#eyeballClose {
    float: right;
}
#eyeballCharts {
    text-align: center;
    min-height: 100px;
}
#eyeballCharts .shape .content {
    margin-top: 20px;
}
#eyeballCharts .harpyChart {
    width: 310px;
    overflow: hidden;
}
#eyeballGrades {
    min-height: 100px;
}
#eyeballBookmarklet .ui.header {
    font-size: 12px;
}
#eyeballBookmarklet .ui.accordion {
    font-size: 11px;
}
#eyeballBookmarklet .ui.header .sub.header {
    font-size: 11px;
}