#eyeballBookmarklet {
    position: fixed;
    top : 0;
    left :0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    padding: 55px 10px 20px 10px;
    font-family: Verdana, Helvetica,Arial,sans-serif !important;
    width: 350px;
    overflow-y : auto;
    font-size: 11px !important;
    z-index: 1000;
}
#eyeballBookmarklet h1.ui.header {
    font-size: 18px !important;
    margin: 0;
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 370px;
    display: inline-block;
    z-index: 1001;
}
#eyeballClose {
    float: right;
    margin-right: 20px;
}
#eyeballCharts {
    text-align: center;
    min-height: 100px;
}
#eyeballCharts .shape .content {
    margin-top: 20px;
}
#eyeballCharts .harpyChart {
    width: 310px;
    overflow: hidden;
}
#eyeballGrades {
    min-height: 100px;
}
#eyeballBookmarklet .ui.header {
    font-size: 12px !important;
}
#eyeballBookmarklet .ui.accordion {
    font-size: 11px !important;
}
#eyeballBookmarklet .ui.header .sub.header {
    font-size: 11px !important;
}
#eyeballContent {
    margin-top: 20px;
}
#eyeballGrades .gradeA {
    background : #5cb85c !important;
}
#eyeballGrades .gradeB {
    background : #9C9 !important;
}
#eyeballGrades .gradeC {
    background : #FC6 !important;
}
#eyeballGrades .gradeD {
    background : #F96 !important;
}
#eyeballGrades .gradeE {
    background : #F63 !important;
}
#eyeballGrades .gradeF {
    background : #d9534f !important;
}
#eyeballBookmarklet a {
    color: #FFF;
    text-decoration: none;
}
#eyeballBookmarklet a:hover {
    text-decoration: underline;
    color: #FC6;
}
#eyeballBookmarklet h1 a {
    display: inline-block;
    padding: 15px 10px 15px 55px;
    background-repeat: no-repeat;
}
#eyeballBookmarklet .content {
    color: inherit;
}