doctype 5
html(ng-app='eyeballApp',lang='en')
    head
        title= title
        meta(name='viewport',content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/harpy-alpha.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        div.navbar.navbar-default.navbar-fixed-top(role="navigation")
            a.navbar-brand(href='#') Eyeball
            button.btn.btn-primary.navbar-btn(type="button" data-toggle="modal" data-target="#modalTest") Test
            |&nbsp;
            button.btn.btn-default.navbar-btn(type="button" data-toggle="modal" data-target="#modalFilter") Filter

        div(ng-view)
            block content

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-route.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
        //script(src='/javascripts/tablesort.js')
        script(src='/javascripts/jquery.tablesorter.min.js')
        script(src='/javascripts/exos-1.1.0.min.js')
        script(src='/javascripts/harpy-alpha.js')
        script(src='https://www.google.com/jsapi')

        if env === 'development'
            script(src='/javascripts/app/app.js')
            script(src='/javascripts/app/services.js')
            script(src='/javascripts/app/controllers/report.js')
            script(src='/javascripts/app/controllers/test.js')
            script(src='/javascripts/app/controllers/detail.js')
            script(src='/javascripts/app/controllers/history.js')
            script(src='/javascripts/app/controllers/har.js')
        else
            script(src='/javascripts/eyeball-#{version}.js')

