mixin test
    div(ng-controller='TestCtrl')
        div(class="panel {{(testInfo.progress === 100 ? ' panel-success' : ' panel-info')}}",ng-show="testInfo.testing")
            div.panel-heading
                img(src="/images/loader.gif",ng-show='(testInfo.progress < 100)')
                |&nbsp;{{testInfo.message}}
            div.panel-body
                div(class="progress progress-striped {{testInfo.status}}")
                    div.progress-bar(role="progressbar",aria-valuenow="{{testInfo.progress}}",aria-valuemin="0",aria-valuemax="100",style="width:{{testInfo.progress}}%")

        div#modalTest.modal.fade(tabindex="-1",role="dialog",aria-labelledby="modalTestLabel",aria-hidden="true")
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type="button",data-dismiss="modal",aria-hidden="true")
                        h4.modal-title
                            span.glyphicon.glyphicon-cog
                            |&nbsp;Test
                    div.modal-body
                        form(role="form",name="testForm").form-horizontal
                            div.form-group
                                label.col-sm-3.control-label Input type
                                div.col-sm-9
                                    div.radio-inline
                                        label
                                            input(type="radio",name="inputType",value="datafile",ng-model="testCriteria.inputType",ng-checked="testCriteria.inputType === 'datafile'")
                                            | Datafile
                                    div.radio-inline
                                        label
                                            input(type="radio",name="inputType",value="url",ng-model="testCriteria.inputType")
                                            | Single URL
                            div.form-group(ng-if="testCriteria.inputType === 'datafile'",ng-class="(testForm.datafile.$dirty ? (testForm.datafile.$invalid ? 'has-error' : 'has-success') : '')")
                                label.col-sm-3.control-label(for='datafile') Datafile
                                div.col-sm-9
                                    input#datafile.form-control(name="datafile",type='text',placeholder='Path (or URL) to list of URLs',ng-model="testCriteria.datafile",ng-required="testCriteria.inputType === 'datafile'")
                            div.form-group(ng-if="testCriteria.inputType === 'url'")
                                label.col-sm-3.control-label(for='url') URL
                                div.col-sm-9
                                    input#url.form-control(type='url',placeholder='URL to test',ng-model="testCriteria.url",ng-required="testCriteria.inputType === 'url'")
                            div.form-group
                                label.col-sm-3.control-label(for='tag') Tag
                                div.col-sm-9
                                    input#tag.form-control(type='text',placeholder="Tag to group multiple runs",ng-model="testCriteria.tag")
                            div.form-group
                                label.col-sm-3.control-label(for="regex") Regex
                                div.col-sm-4
                                    input#regex.form-control(type='text',placeholder="Regex to modify all input URLs",ng-model="testCriteria.regex")
                                div.col-sm-5
                                    input#regexReplace.form-control(type='text',placeholder="Replacement text",ng-model="testCriteria.regexReplace")
                            div.form-group
                                label.col-sm-3.control-label(for="reps") Repetitions
                                div.col-sm-9
                                    input#reps.form-control(type='text',placeholder="Number of times to repeat all tested URLs",ng-model="testCriteria.reps")
                            div.form-group
                                div.col-sm-offset-3.col-sm-9
                                    button.btn.btn-primary(type="submit",data-dismiss="modal",ng-click="test()",ng-disabled="testForm.$invalid") Go!
