include ../../test
include ../../report

div.container.table-responsive(ng-controller='ReportDommonsterCtrl')
    mixin test
    mixin tabs('dommonster')
    mixin charts
    mixin results
    mixin popover
    mixin filter