include ../../test
include ../../report

div.container.table-responsive(ng-controller='ReportOverviewCtrl')

    mixin test

    ul.nav.nav-tabs
        li.active
            a(href='#/report?build={{query.build}}') Overview
        li
            a(href='#/report/yslow?build={{query.build}}') YSlow
        li
            a(href='#/report/dommonster?build={{query.build}}') DomMonster
        li
            a(href='#/report/validator?build={{query.build}}') Validator
        mixin reportView

    mixin charts

    div(ng-hide="reportView === 'chart'")
        table#results.table.table-striped
            mixin reportHeaders
            tbody
                mixin reportTotals
                mixin reportLoader
                tr(ng-repeat='r in results')
                    mixin reportFields
                    td(ng-repeat='f in fields',class='text-center grade{{r.metrics[f.tool].grades[f.metric]}}',data-type='grades',ng-mouseenter='setPopoverContent({metrics:r.metrics[f.tool],tool:[f.tool]})',ng-mouseleave='setPopoverContent()')
                        span.badge {{r.metrics[f.tool].grades[f.metric]}}
            mixin reportFooters

    div#popoverContent.ng-hide
        ul.list-group
            li(ng-repeat='f in fieldConfig[popoverContent.tool]', class='list-group-item grade{{popoverContent.metrics.grades[f.metric]}}') {{f.name}}&nbsp;
                span(class='badge') {{popoverContent.metrics.grades[f.metric]}}

    mixin filter
