include ../../test
include ../../report

div.container.table-responsive(ng-controller='ReportOverviewCtrl')

    mixin test
    mixin tabs('overview')
    mixin charts
    mixin results

    div#popoverContent.ng-hide
        ul.list-group
            li(ng-repeat='f in fieldConfig[popoverContent.tool]', class='list-group-item {{($first ? "grade" + popoverContent.metrics.grades[f.metric] :"" )}}') {{f.name}}&nbsp;
                span(class='badge grade{{popoverContent.metrics.grades[f.metric]}}') {{popoverContent.metrics.grades[f.metric]}}

    mixin filter
