include ../../test
include ../../report

div.container.table-responsive(ng-controller='ReportTimeCtrl')

    mixin test

    mixin tabs('time')

    mixin charts

    div(ng-hide="reportView === 'chart'")
        table#results.table.table-striped
            mixin reportHeaders
            tbody
                mixin reportTotals
                mixin reportLoader
                tr(ng-repeat='r in results')
                    mixin reportFields
                    td(ng-repeat='f in fields',class='text-center grade{{r.metrics[f.tool].grades[f.metric]}}',data-type='grades',ng-mouseenter='setPopoverContent({grade:r.metrics[f.tool].grades[f.metric],value:format(r.metrics[f.tool].data[f.metric],f.format)})',ng-mouseleave='setPopoverContent()')
                        span.badge {{r.metrics[f.tool].grades[f.metric]}}
                mixin reportFooters

    div#popoverContent.ng-hide
        ul.list-group
            li(class='list-group-item') {{popoverContent.value}}&nbsp;
                span(class='badge grade{{popoverContent.grade}}') {{popoverContent.grade}}


    mixin filter

