td {
    max-width: 300px;
    word-wrap: break-word;
}
.gradeA {
    background : #690 !important;
}
.gradeB {
    background : #9C9 !important;
}
.gradeC {
    background : #FC6 !important;
}
.gradeD {
    background : #F96 !important;
}
.gradeE {
    background : #F63 !important;
}
.gradeF {
    background : #C33 !important;
}