body {
    padding-top: 70px;
}

td {
    max-width: 300px;
    word-wrap: break-word;
}
td>a {
    /*display : inline-block;
    width: 100%;
    height: 100%;*/
}
table.keyinfo {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
}
table.keyinfo td {
    width: 5%;
}

.historyChart {
    height: 350px;
}
ul.chartControl {
    width: 800px !important;
    display: table;
    margin: auto;
}
ul.chartControl li {
    display: table-cell;
    text-align: center;
}
ul.chartControl a {
    width: 100%;
}
.nav-tabs {
    margin-bottom: 20px;
}

.gradeA,
.gradeB,
.gradeC,
.gradeD,
.gradeE,
.gradeF {
    color: #FFF !important;
}
.gradeA .badge,
.gradeB .badge,
.gradeC .badge,
.gradeD .badge,
.gradeE .badge,
.gradeF .badge {
    background : #FFF !important;
}
.gradeA {
    background : #5cb85c !important;
}
.gradeA .badge {
    color : #5cb85c !important;
}
.gradeB {
    background : #9C9 !important;
}
.gradeB .badge {
    color : #9C9 !important;
}
.gradeC {
    background : #FC6 !important;
}
.gradeC .badge {
    color : #FC6 !important;
}
.gradeD {
    background : #F96 !important;
}
.gradeD .badge {
    color : #F96 !important;
}
.gradeE {
    background : #F63 !important;
}
.gradeE .badge {
    color : #F63 !important;
}
.gradeF {
    background : #d9534f !important;
}
.gradeF .badge {
    color : #d9534f !important;
}

/*
.gradeA,
.gradeA .badge {
    background : #5cb85c !important;
}
.gradeB,
.gradeB .badge {
    background : #9C9 !important;
}
.gradeC,
.gradeC .badge {
    background : #FC6 !important;
}
.gradeD,
.gradeD .badge {
    background : #F96 !important;
}
.gradeE,
.gradeE .badge {
    background : #F63 !important;
}
.gradeF,
.gradeF .badge {
    background : #d9534f !important;
}
.gradeA,
.gradeB,
.gradeC,
.gradeD,
.gradeE,
.gradeF {
    color: #FFF !important;
}

.gradeA .badge,
.gradeB .badge,
.gradeC .badge,
.gradeD .badge,
.gradeE .badge,
.gradeF .badge {
    border: 1px solid #FFF;
}
 */


.gradeB .badge {
    border: 1px solid #FFF;
}

#chartArea {
    margin-top: 30px;
}
/*tablesorter*/

th.sort-header {
    cursor:pointer;
}
th.sort-header::-moz-selection,
th.sort-header::selection {
    background:transparent;
}
table th.sort-header:after {
    content:'';
    float:right;
    margin-top:8px;
    border-width:0 4px 4px;
    border-style:solid;
    border-color:#404040 transparent;
    visibility:hidden;
}
table th.sort-header:hover:after {
    visibility:visible;
}
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
    visibility:visible;
    opacity:0.4;
}
table th.sort-up:after {
    border-bottom:none;
    border-width:4px 4px 0;
}