body {
    padding-top: 70px;
}

td {
    max-width: 300px;
    word-wrap: break-word;
}
td>a {
    /*display : inline-block;
    width: 100%;
    height: 100%;*/
}
table.keyinfo {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
}
table.keyinfo td {
    width: 5%;
}

.historyChart {
    height: 450px;
}
.pivotChart {
    height: 350px;
}

.nav-tabs {
    margin-bottom: 20px;
}

.gradeA,
.gradeB,
.gradeC,
.gradeD,
.gradeE,
.gradeF {
    color: #FFF !important;
}
.gradeA .badge,
.gradeB .badge,
.gradeC .badge,
.gradeD .badge,
.gradeE .badge,
.gradeF .badge {
    background : #FFF !important;
}
.gradeA {
    background : #5cb85c !important;
}
.gradeA .badge {
    color : #5cb85c !important;
}
.gradeB {
    background : #9C9 !important;
}
.gradeB .badge {
    color : #9C9 !important;
}
.gradeC {
    background : #FC6 !important;
}
.gradeC .badge {
    color : #FC6 !important;
}
.gradeD {
    background : #F96 !important;
}
.gradeD .badge {
    color : #F96 !important;
}
.gradeE {
    background : #F63 !important;
}
.gradeE .badge {
    color : #F63 !important;
}
.gradeF {
    background : #d9534f !important;
}
.gradeF .badge {
    color : #d9534f !important;
}

#chartArea {
    margin-top: 30px;
}

/*harpy*/
.harpy td, .harpy th {
    text-align: left;
    font-size: 75%;
}
/*.harpy th {
    min-width: 45px;
} */

table.table th.header {
    background:  url("../images/bg.gif") no-repeat center right;
    cursor: pointer;
    padding-right: 18px;
}
table.table th.headerSortUp {
    background-image: url("../images/asc.gif");
}
table.table th.headerSortDown {
    background-image: url("../images/desc.gif");
}