mixin detailNav(tab)

    div.ui.small.steps
        div.step
            a(href="#") Eyeball
        div.step
            a(href="#/report?{{reportFilter}}") Analyze
        div.active.step {{id}}

    div.ui.pointing.menu.inverted
        div.right.menu
            a.item(type="button" data-toggle="modal" data-target="#modalFilter") Re-test
        a(class='item #{(tab === "detail" ? "active" : "")}',href='#/detail/:{{id}}') Detail
        a(class='item #{(tab === "har" ? "active" : "")}',href='#/har/:{{id}}') HAR analysis
        a(class='item #{(tab === "history" ? "active" : "")}',href='#/history/:{{id}}') History

    div.ui.segment.inverted.header.default.attached.top
        a(href="{{url}}",target="_blank") {{url}}
    div.ui.segment.inverted.default.attached.bottom
        dl.list-inline
            dt ID
            dd {{id}}
            dt Timestamp
            dd {{timestamp}}
            dt Build
            dd {{build}}
            dt Tag
            dd {{tag}}
