doctype html
html(ng-app='eyeballApp',lang='en')
    head
        title= title
        meta(name='viewport',content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='/lib/harpy-0.0.1.min.css')
        if env === 'development'
            link(rel='stylesheet', href='/css/style.css')
        else
            link(rel='stylesheet', href='/eyeball-#{version}.min.css')

    body(ng-controller="GlobalCtrl")
        nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
            div.navbar-header
                div.logo
                a.navbar-brand(href='#') Eyeball
            ul.nav.navbar-nav
                li(class="{{(page === 'test' ? 'active' : '')}}")
                    a(href="#test") Test
                li(class="{{(page === 'report' ? 'active' : '')}}")
                    a(href="#report") Analyze
            form.navbar-form.navbar-left(role="form")
                div.form-group
                    input.form-control(type='text',ng-model="quickUrl",placeholder="Enter a URL for quick test/find")
                button.btn.btn-default(ng-click="quickTest()",ng-disabled="!quickUrl")
                    span.glyphicon.glyphicon-cog
                    |&nbsp;Test
                button.btn.btn-default(ng-click="quickFind()",ng-disabled="!quickUrl")
                    span.glyphicon.glyphicon-search
                    |&nbsp;Find

            ul.nav.navbar-nav.navbar-right
                li(class="{{(page === 'monitor' ? 'active' : '')}}")
                    a(href="#/monitor") Monitor


        div(ng-view)
            block content

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-route.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js')
        script(src='/lib/jquery.tablesorter.min.js')
        script(src='/lib/exos-1.1.1.min.js')
        script(src='/lib/harpy-0.0.1.min.js')
        script(src='https://www.google.com/jsapi')

        if env === 'development'
            script(src='/js/app/app.js')
            script(src='/js/app/controllers/report.js')
            script(src='/js/app/controllers/test.js')
            script(src='/js/app/controllers/detail.js')
            script(src='/js/app/controllers/history.js')
            script(src='/js/app/controllers/har.js')
            script(src='/js/app/controllers/monitor.js')
            script(src='/js/app/controllers/global.js')
            script(src='/js/app/services/chart.js')
            script(src='/js/app/services/exos.js')
            script(src='/js/app/services/fieldConfig.js')
            script(src='/js/app/services/logger.js')
            script(src='/js/app/services/persist.js')
            script(src='/js/app/services/popover.js')
            script(src='/js/app/services/render.js')
            script(src='/js/app/services/socket.js')
            script(src='/js/app/services/tablesort.js')
            script eyeballApp.env = "development";
        else
            script(src='/eyeball-#{version}.min.js')

