doctype html
html(ng-app='eyeballApp',lang='en')
    head
        title= title
        meta(name='viewport',content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css')
        if env === 'development'
            link(rel='stylesheet', href='/css/style.css')
        else
            link(rel='stylesheet', href='/eyeball-#{version}.min.css')
        link(rel='stylesheet', href='/lib/harpy-0.0.2.min.css')

    body(ng-controller="GlobalCtrl")
        nav.ui.menu.inverted.default
            h1.ui.header
                a.logo(href='#') Eyeball
            a(class="item{{(page === 'test' ? ' active' : '')}}",href="#test") Test
            a(class="item{{(page === 'report' ? ' active' : '')}}",href="#report") Analyze

            a(class="item right{{(page === 'monitor' ? ' active' : '')}}",href="#/monitor") Monitor


        div(ng-view)
            block content

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-route.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/javascript/semantic.min.js')
        script(src='/lib/exos-1.1.2.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.runtime.min.js')
        script(src='/lib/jquery.tablesorter.min.js')
        script(src='/lib/harpy-0.0.2.min.js')
        script(src='https://www.google.com/jsapi')

        if env === 'development'
            script(src='/js/app/app.js')
            script(src='/js/app/controllers/report.js')
            script(src='/js/app/controllers/test.js')
            script(src='/js/app/controllers/detail.js')
            script(src='/js/app/controllers/history.js')
            script(src='/js/app/controllers/har.js')
            script(src='/js/app/controllers/monitor.js')
            script(src='/js/app/controllers/global.js')
            script(src='/js/app/services/configResolver.js')
            script(src='/js/app/services/chart.js')
            script(src='/js/app/services/exos.js')
            script(src='/js/app/services/logger.js')
            script(src='/js/app/services/persist.js')
            script(src='/js/app/services/popover.js')
            script(src='/js/app/services/render.js')
            script(src='/js/app/services/socket.js')
            script(src='/js/app/services/tablesort.js')
            script(src='/js/app/services/utils.js')
            script(src='/js/app/services/harpy.js')
            script eyeballApp.env = "development";
        else
            script(src='/eyeball-#{version}.min.js')

