mixin testForm
    form(role="form",name="testForm").ui.form.inverted
        div.ui.segment.highlight.inverted
            div.field(ng-if="testCriteria.isDatafile",ng-class="(testForm.datafile.$dirty ? (testForm.datafile.$invalid ? 'has-error' : 'has-success') : '')")
                input#datafile.form-control(name="datafile",type='text',placeholder='Path (or URL) to list of URLs',ng-model="testCriteria.datafile",ng-required="testCriteria.isDatafile")
            div.field(ng-if="!testCriteria.isDatafile")
                input#url.form-control(type='text',placeholder='URL to test',ng-model="testCriteria.url",ng-required="!testCriteria.isDatafile")
            div.field
                div.ui.toggle.checkbox
                    input#isDatafile.ui.radio.checkbox(type="checkbox",name="isDatafile",ng-model="testCriteria.isDatafile",ng-checked="testCriteria.isDatafile'")
                    label(for="isDatafile") Datafile (use a list of urls)
        div.field
            label.col-sm-3.control-label(for='tag') Tag
            input#tag.form-control(type='text',placeholder="Tag to group multiple runs",ng-model="testCriteria.tag")
        div.ui.two.fields
            div.field
                label.col-sm-3.control-label(for="regex") Regex
                input#regex.form-control(type='text',placeholder="Regex to modify all input URLs",ng-model="testCriteria.regex")
            div.field
                label &nbsp;
                input#regexReplace.form-control(type='text',placeholder="Replacement text",ng-model="testCriteria.regexReplace")
        div.field
            label.col-sm-3.control-label(for="reps") Repetitions
            input#reps.form-control.fixed-width-small(type='text',ng-model="testCriteria.reps",placeholder="0",maxlength="2")
        div.field
            button.ui.button.positive.fluid(type="submit",data-dismiss="modal",ng-click="test()",ng-disabled="testForm.$invalid") Go!


mixin test
    div(ng-controller='TestCtrl')
        div(class="panel {{(testInfo.progress === 100 ? ' panel-success' : ' panel-info')}}",ng-show="testInfo.testing")
            div.panel-heading
                div.loader(ng-show='(testInfo.progress < 100)')
                    i.icon.loading
                    |&nbsp;{{testInfo.message}}
            div.panel-body
                div(class="progress progress-striped {{testInfo.status}}")
                    div.progress-bar(role="progressbar",aria-valuenow="{{testInfo.progress}}",aria-valuemin="0",aria-valuemax="100",style="width:{{testInfo.progress}}%")

        div#modalTest.ui.modal.fade(tabindex="-1",role="dialog",aria-labelledby="modalTestLabel",aria-hidden="true")
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type="button",data-dismiss="modal",aria-hidden="true")
                        h4.modal-title
                            span.glyphicon.glyphicon-cog
                            |&nbsp;Test
                    div.modal-body
                        mixin testForm