<h2 class="ui top attached header black inverted">
    <div class="content">
        Eyeball results
        <div class="sub header">Grades for page quality</div>
    </div>
</h2>
<div id="eyeballGrades" class="ui segment attached">
    <div class="ui active text loader">Loading</div>
</div>
<h3 id="eyeballGradesFooter" class="ui bottom attached header black inverted"></h3>
<h2 class="ui top attached header black inverted">
    <div class="content">
        HTTP metrics
        <div class="sub header">Metrics for page performance</div>
    </div>
</h2>
<div id="eyeballCharts" class="ui segment attached">
    <div class="ui active text loader">Loading</div>
</div>
<h3 id="eyeballChartsFooter" class="ui bottom attached header black inverted"></h3>