@charset "UTF-8";
body {
    padding: 70px 10px 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background: #333 url('../images/bg.png');
}
nav.ui.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    z-index: 5;
}
nav.ui.menu a.item {
    padding: 1.2rem;
}
.ui.inverted a {
    color: #FFF;
    text-decoration: none;
}
h1.ui.header {
    float: left;
    font-size: 1.3rem;
    margin: 0;
}
button.ui {
    background: none;
    border: none;
}
button.ui[disabled="disabled"] {
    opacity: 0.5;
}
.logo {
    display: inline-block;
    background: url("../images/eyeballSmall.png") no-repeat 0 4px;
    float: left;
    margin: 0 5px;
    padding: 0.9rem 0.9rem 0.8rem 55px;
    text-decoration: none !important;
}
.mini.icon.button {
    padding: .5em;
}
.ui.inverted.default {
    background: #000;
}
.ui.inverted.segment.default {
    background : rgba(0,0,0,0.4);
    box-shadow: none;
    -webkit-box-shadow: none;
}
.highlight {
    background: #3071a9 !important;
}
.fixed-width-small {
    width: 100px !important;
}
.step a {
    color: #000;
    text-decoration: none;
}
#reportMenu {
    float: left;
}
#reportView {
    float: right;
}
.ui.popup, .ui.popup:before {
    background-color: #000;
}
.ui.header.inverted.default {
    background: #000;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
[class*='label-'] {
    white-space: nowrap;
}
.label.positive, .label.label-success {
    color: #FFF;
    background: rgba(92,184,92,0.7);
}
.label.neutral, .label.label-warning {
    color: #FFF;
    background: rgba(255,204,102,0.7);
}
.label.negative, .label.label-danger {
    color: #FFF;
    background: rgba(217,83,79,0.7);
}
.ui.form .inline.fields .field .toggle.checkbox {
    margin: 7px 5px 0 0;
}
#results tr.totals {
    background: rgba(255,255,255,0.2);
}
#results tr.totals td {
    padding-left: 10px;
}
#results tr.totals input[type="text"] {
    width: 210px;
    padding: 0.5em;
}
#results th:first-child {
    min-width: 200px;
    width: 400px;
}
#results th:nth-child(n+2):nth-child(-n+4) {
    width: 1px;
}
#results td,th {
    white-space: nowrap;
}
#results td:first-child {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    padding-left :35px;
}
#results td[data-type='grades'] {
    padding: 0;
    text-align: center;
}
#results tr.resultGroup td:first-child {
    padding-left: 5px;
    padding-right: 40px;
    line-height: 90%;
}
#results tr.resultGroup td:first-child a {
    position: relative;
    left: 35px;
    margin-left: -32px;
}
#results tr.starred td[data-type='grades'] {
    background: none !important;
}
#results td.ui.menu {
    padding: 0;
}
.starred .icon {
    color: #FF9;
}
.ui.inverted .starred a {
    color: #1AB8F3;
}
#detail td {
    vertical-align: top;
}
td[data-type='grades'] a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
td[data-type='grades'] .label {
    margin: 3px;
}
td[data-expand='true'] {
    width: 12px;
    background-image:
        linear-gradient(45deg, #222 5px, transparent 0),
        linear-gradient(135deg, #222 5px, #494949 0);
    background-color: #494949;
    background-position: left top;
    background-repeat: repeat-y;
    background-size: 12px 12px;
}
tr:nth-child(odd) td[data-expand='true'] {
     background-image:
         linear-gradient(45deg, #222 5px, transparent 0),
         linear-gradient(135deg, #222 5px, #494949 0);
     background-color: #494949;
}
td[data-expand='true']:nth-child(2) {
    background-image:
        linear-gradient(-45deg, #222 5px, transparent 0),
        linear-gradient(-135deg, #222 5px, #494949 0);
    background-position: right -6px;
}
tr:nth-child(odd) td[data-expand='true']:nth-child(2) {
    background-image:
        linear-gradient(-45deg, #222 5px, transparent 0),
        linear-gradient(-135deg, #222 5px, #494949 0);
    background-color: #494949;
}
tr.totals td[data-expandable='true']:nth-of-type(3) {
    background-image:
        linear-gradient(45deg, #222 5px, transparent 0),
        linear-gradient(135deg, #222 5px, #494949 0);
    background-color: #494949;
    background-position: left top;
    background-repeat: repeat-y;
    background-size: 12px 12px;
}
tr.totals td[data-expandable='true']:nth-of-type(5) {
    background-image:
    linear-gradient(-45deg, #222 5px, transparent 0),
    linear-gradient(-135deg, #222 5px, #494949 0);
    background-color: #494949;
    background-position: right -6px;
    background-repeat: repeat-y;
    background-size: 12px 12px;
}

[data-expandable='true'] {
    display: none;
}
[data-expanded='true'] [data-expandable='true'] {
    display: table-cell;
    opacity: 0.5;
}
[data-expanded-locked='true'] [data-expandable='true'],[data-expanded='true'] tr.totals [data-expandable='true'] {
    display: table-cell;
    opacity: 1;
}
[data-expanded='true'] th[data-expand='true']:before {
    font-family: Icons;
    content: "\f13e";
}
[data-expanded-locked='true'] th[data-expand='true']:before {
    font-family: Icons;
    content: "\f023";
}
#detail td {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}
.keyInfo button {
    width: 100%;
    border: 0;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}
.navbar-form input {
    min-width: 300px;
}
.navbar-form button.btn {
    margin-left: 5px;
}
.detail tr>td:first-of-type {
    width: 20px;
}
.historyChart {
    height: 450px;
}
.pivotChart {
    height: 450px;
    padding: 0;
}
.nav-tabs {
    margin-bottom: 20px;
}
a.panelAnchor {
    position: absolute;
    margin-top: -60px;
}
#chartArea {
    margin-top: 30px;
}
button[data-anchor] {
    background: none;
    border: 0 solid;
    margin-bottom: 10px;
}
table.table th.header {
    cursor: pointer;
}
table.table th.header:after {
    content: "\f0dc";
    font-family: Icons;
    margin-left: 10px;
}
th.headerSortUp, th.headerSortDown {
    color: #1AB8F3 !important;
}
table.table th.headerSortUp:after {
    content: "\f0de";
}
table.table th.headerSortDown:after {
    content: "\f0dd";
}

td form.ui.form .field {
    margin-bottom: 0;
}
.list-inline {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.list-inline>* {
    float: left;
    display: inline-block;
    margin: 0 30px 0 0;
}
.list-inline>dt {
    margin-right: 10px;
    font-weight: bold;
}
/* grades */
[class*="grade"] {
    color: #FFF !important;
}
[class*="grade"] .ui.label {
    background: rgba(255,255,255,0.2) !important;
    font-weight: bold;
    color: #FFF;
}

.gradeA, .starred .gradeA .ui.label {
    background : rgba(92,184,92,0.7) !important;
}
.gradeB, .starred .gradeB .ui.label {
    background : rgba(153,204,153,0.7) !important;
}
.gradeC, .starred .gradeC .ui.label {
    background : rgba(255,204,102,0.7) !important;
}
.gradeD, .starred .gradeD .ui.label {
    background : rgba(255,153,103,0.7) !important;
}
.gradeE, .starred .gradeE .ui.label {
    background : rgba(255,102,51,0.7) !important;
}
.gradeF, .starred .gradeF .ui.label {
    background : rgba(217,83,79,0.7) !important;
}
[class*="grade"]>[class*="grade"] {
    background: rgba(255,255,255,0.3) !important;
    font-weight: bold;
}


/*harpy*/
table.harpy {
    color: #FFF;
    width: 100%;
}
table.harpy td, table.harpy th {
    text-align: left;
    font-size: 90%;
    border-right: 0 solid !important;
}
table.harpy tr td {
    border-bottom: 1px dotted #666;
    cursor: pointer;
}
.harpy>thead>tr, .harpy tr.total {
    background: #000 !important;
}
table.harpy tr th.header {
    background: none;
}
table.harpy tr {
    color: #FFF !important;
    background: none !important;
}
.harpy tr.html td:nth-child(5) {
    color: #FFB;
}
.harpy tr.js td:nth-child(5) {
    color: #FBF;
}
.harpy tr.image td:nth-child(5) {
    color: #9C9;
}
.harpy tr.css td:nth-child(5) {
    color: #BBF;
}
.harpy tr.text td:nth-child(5) {
    color: #FBB;
}
.harpy tr.external td.url {
    color: #1AB8F3;
}
.harpy tr.internal td.url {
    color: #FC6;
}
.harpy tr.cache {
    opacity: 0.6;
    background: #444 !important;
}
.harpy tr.error, .harpy tr.error td {
    color: #d9534f !important;
}
table.harpy tr td.info {
    background: rgba(26,184,243,0.1) !important;
    cursor: default;
}
table.harpy tr td.info td {
    cursor: default;
}
table.harpy dt, table.harpy td.info td:first-child {
    background: none !important;
}
.harpy th.header:after {
    content: "\f0dc";
    font-family: Icons;
    margin-left: 10px;
}
.harpy th.headerSortUp:after {
    content: "\f0dd";
}
.harpy th.headerSortDown:after {
    content: "\f0de";
}
.harpy td.info {
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    width: 100%;
}
.harpy td.info table td {
    font-size : 100%;
}
.harpy dl {
    margin: 10px 0 0;
}
.harpy hr {
    margin: 10px 0;
}
table.harpy div.blocked, table.dns, table.harpy div.connect, table.harpy div.send, div.wait, table.harpy div.receive {
    opacity: 0.8;
}
table.harpy div.loadMarker {
    margin-top: 44px !important;
}
div.harpyChart {
    width: 25%;
}
div.harpyBarChart {
    width: 33%;
}
.harpy input {
    background: #111;
    color: #FFF;
    border: 1px solid #999;
}