@charset "UTF-8";
body {
    padding-top: 70px;
    font-size: 9pt;
}
.label {
    font-size: 85%;
}
.container {
    width: 96%;
    margin: 0 2%;
    max-width: 96%;
}
#results th:first-child {
    min-width: 200px;
    width: 400px;
}
#results th:nth-child(n+2):nth-child(-n+4) {
    width: 1px;
}
#results td,th {
    white-space: nowrap;
}
#results td:first-child {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    padding-left: 25px;
}
#results tr.resultGroup td:first-child {
    padding-left: 0;
}
#results td[data-type='grades'] {
    padding: 0;
}
td[data-type='grades'] a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
td:hover[data-type='grades'] {
    background: #FFF !important;
}
td[data-type='grades'] span {
    margin: 5px;
}
td[data-expand='true'] {
    width: 12px;
    background-image:
        linear-gradient(45deg, #ddd 5px, transparent 0),
        linear-gradient(135deg, #ddd 5px, #fff 0);
    background-color: #fff;
    background-position: left top;
    background-repeat: repeat-y;
    background-size: 10px 10px;
}
tr:nth-child(odd) td[data-expand='true'] {
     background-image:
         linear-gradient(45deg, #ddd 5px, transparent 0),
         linear-gradient(135deg, #ddd 5px, #f9f9f9 0);
     background-color: #ddd;
}
tr.warning td[data-expand='true'] {
    background-image:
        linear-gradient(45deg, #ddd 5px, transparent 0),
        linear-gradient(135deg, #ddd 5px, #fcf8e3 0);
    background-color: #ddd;
}
td[data-expand='true']:nth-child(2) {
    background-image:
        linear-gradient(-45deg, #ddd 5px, transparent 0),
        linear-gradient(-135deg, #ddd 5px, #fff 0);
    background-position: right -5px;
}
tr:nth-child(odd) td[data-expand='true']:nth-child(2) {
    background-image:
        linear-gradient(-45deg, #ddd 5px, transparent 0),
        linear-gradient(-135deg, #ddd 5px, #f9f9f9 0);
    background-color: #f9f9f9;
}
tr.warning td[data-expand='true']:nth-child(2) {
    background-image:
        linear-gradient(-45deg, #ddd 5px, transparent 0),
        linear-gradient(-135deg, #ddd 5px, #fcf8e3 0);
    background-color: #fcf8e3;
}
[data-expandable='true'] {
    display: none;
}
[data-expanded='true'] [data-expandable='true'] {
    display: table-cell;
    opacity: 0.5;
}
[data-expanded-locked='true'] [data-expandable='true'] {
    display: table-cell;
    opacity: 1;
}
[data-expanded='true'] th[data-expand='true'] {
    background: url("../images/padlock-open.png") no-repeat center center;
}
[data-expanded-locked='true'] th[data-expand='true'] {
    background: url("../images/padlock-closed.png") no-repeat center center;
}
#detail td {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}
.keyInfo button {
    width: 18%;
    margin: 0 1% 0;
}
div.logo {
    display: inline-block;
    width: 53px;
    height: 50px;
    background: url("../images/eyeballSmall.png") no-repeat 0 2px;
    float: left;
    margin: 0 -5px 0 10px;
}
div.loader {
    display: inline-block;
    float: left;
    width: 16px;
    height: 16px;
    background: url("../images/ajax-loader.gif") center center no-repeat;
}
.panel-info>.panel-heading .loader {
    background: url("../images/ajax-loader-info.gif") center center no-repeat;
}
.navbar-form input {
    min-width: 300px;
}
.navbar-form button.btn {
    margin-left: 5px;
}
.detail tr>td:first-of-type {
    width: 20px;
}
.historyChart {
    height: 450px;
}
.pivotChart {
    height: 450px;
}
.nav-tabs {
    margin-bottom: 20px;
}
a.panelAnchor {
    position: absolute;
    margin-top: -60px;
}
.gradeA,
.gradeB,
.gradeC,
.gradeD,
.gradeE,
.gradeF {
    color: #FFF;
}
.gradeA .badge,
.gradeB .badge,
.gradeC .badge,
.gradeD .badge,
.gradeE .badge,
.gradeF .badge {
    background : #FFF !important;
}
.gradeA {
    background : #5cb85c !important;
}
.gradeA .badge {
    color : #5cb85c !important;
}
.gradeB {
    background : #9C9 !important;
}
.gradeB .badge {
    color : #9C9 !important;
}
.gradeC {
    background : #FC6 !important;
}
.gradeC .badge {
    color : #FC6 !important;
}
.gradeD {
    background : #F96 !important;
}
.gradeD .badge {
    color : #F96 !important;
}
.gradeE {
    background : #F63 !important;
}
.gradeE .badge {
    color : #F63 !important;
}
.gradeF {
    background : #d9534f !important;
}
.gradeF .badge {
    color : #d9534f !important;
}
#chartArea {
    margin-top: 30px;
}
button[data-anchor] {
    background: none;
    border: 0 solid;
    margin-bottom: 10px;
}
a.bookmarklet {
    color: #FFF;
    background: #428bca;
    padding: 6px 12px;
    border: 1px solid #357ebd;
    border-radius: 4px;
    margin: 0 5px;
}
/*harpy*/
table.harpy {
    width: 100%;
}
.harpy td, .harpy th {
    text-align: left;
    font-size: 90%;
}
.harpy td.info {
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    width: 100%;
}
.harpy td.info table td {
    font-size : 100%;
}
.harpy dl {
    margin: 10px 0 0;
}
.harpy hr {
    margin: 10px 0;
}
div.harpyChart {
    width: 25%;
}
div.harpyBarChart {
    width: 33%;
}
table.table th.header {
    background:  url("../images/bg.gif") no-repeat center right;
    cursor: pointer;
    padding-right: 18px;
}
table.table th.headerSortUp {
    background-image: url("../images/asc.gif");
}
table.table th.headerSortDown {
    background-image: url("../images/desc.gif");
}