div.container

    div.ui.small.steps
        div.step
            a(href="#") Eyeball
        div.step
            a(href="#/report?{{reportFilter}}") Analyze
        div.active.step Compare

    div.ui.segment.inverted.default.header(ng-repeat-start="m in metrics") {{m.label}}
    div.ui.grid(ng-repeat-end)
        div.eight.wide.column
            div.ui.segment.inverted.attached.top.default Cached
            div.ui.segment.inverted.attached.botttom.default
                div(id="{{m.type}}-cached")
                div(ng-if="m.mimeTypes" ng-repeat="t in mimeTypes", id="{{m.type}}-cached-{{t}}")
        div.eight.wide.column
            div.ui.segment.inverted.attached.top.default Uncached
            div.ui.segment.inverted.attached.botttom.default
                div(id="{{m.type}}-uncached")
                div(ng-if="m.mimeTypes" ng-repeat="t in mimeTypes", id="{{m.type}}-uncached-{{t}}")