include ../test
include ../detail

mixin test


div#detail.container

    mixin detailNav('detail')


    div(ng-repeat="f in fields",class='panel panel-default')
        a.panelAnchor(id="panel_{{f.metric}}",name="panel_{{f.metric}}")

        div.panel-heading(ng-if="!f.metric") {{f.name}}
        div.panel-body.keyInfo(ng-if="!f.metric")
            button(ng-repeat="f in fields",ng-if="f.metric", class='alert grade{{data.metrics[f.tool].grades[f.metric]}}',data-anchor="panel_{{f.metric}}")
                span(class='badge') {{data.metrics[f.tool].grades[f.metric]}}
                |&nbsp;{{f.name}}
                span(ng-if="data.metrics[f.tool].data[f.metric]") &nbsp;({{format(data.metrics[f.tool].data[f.metric],f.format)}})

        div(class='panel-heading grade{{data.metrics[f.tool].grades[f.metric]}}',ng-if="f.metric")
            span.badge {{data.metrics[f.tool].grades[f.metric]}}
            |&nbsp;{{f.name}}
        div.panel-body.detail(ng-if="f.metric")
            div.row
                div.col-md-4
                    table.table.table-striped
                        tr(ng-repeat="m in fieldConfig[f.tool].items")
                            td
                                span(class='badge grade{{getVal(data.metrics[f.tool].grades,m.metric)}}') {{getVal(data.metrics[f.tool].grades,m.metric)}}
                            td  {{m.name}}
                            td  {{format(getVal(data.metrics[f.tool].data,m.metric),m.format)}}
                div.col-md-8(ng-switch="f.tool")
                    table.table.table-striped(ng-switch-when="eyeball")
                        tr(ng-repeat="m in fieldConfig[f.tool].items")
                            td
                                span(class='label label-{{getInfo(data.metrics[f.tool].grades,f.tool,m.metric).type}}') {{getInfo(data.metrics[f.tool].grades,f.tool,m.metric).type}}
                            td
                                strong {{m.name}} - {{getInfo(data.metrics[f.tool].grades,f.tool,m.metric).info}}
                                p {{getInfo(data.metrics[f.tool].grades,f.tool,m.metric).message}}
                    table.table.table-striped(ng-switch-when="time")
                        tr(ng-repeat="m in fieldConfig[f.tool].items")
                            td
                                span(class='badge grade{{getVal(data.metrics[f.tool].grades,m.metric)}}') {{getVal(data.metrics[f.tool].grades,m.metric)}}
                            td
                                strong {{m.name}} - {{getInfo(data.metrics[f.tool].grades,f.tool,m.metric).info}}
                                p {{getInfo(data.metrics[f.tool].grades,f.tool,m.metric).message}}
                    table.table.table-striped(ng-switch-when="yslow")
                        tr(ng-repeat='i in data.metrics.yslow.data.g',ng-if='i.score < 100')
                            td
                                span(class='badge grade{{i.grade}}') {{i.grade}}
                            td
                                strong {{i.rule}}
                                p {{i.message}}
                    table.table.table-striped(ng-switch-when="dommonster")
                        tr(ng-repeat='i in data.metrics.dommonster.data.messages.warn')
                            td
                                span(class='label label-danger') Danger
                            td
                                strong {{i.string}}
                                p {{i.hint}}
                        tr(ng-repeat='i in data.metrics.dommonster.data.messages.tip')
                            td
                                span(class='label label-warning') Warning
                            td
                                strong {{i.string}}
                                p {{i.hint}}
                    table.table.table-striped(ng-switch-when="validator")
                        tr(ng-repeat='i in data.metrics.validator.data.messages',ng-if='i.type==="error" || i.subType === "warning"')
                            td
                                span(class='label label-danger',ng-if='i.type==="error"') Error
                                span(class='label label-warning',ng-if='i.subType==="warning"') Warning
                            td
                                strong {{i.lastLine}}:{{i.lastColumn}} {{i.message}}
                                //p {{i.explanation}}
                    table.table.table-striped(ng-switch-when="aria")
                        tr(ng-repeat='i in data.metrics.aria.data.errors')
                            td
                                span(class='label label-danger',ng-if='i.type==="Error"') Error
                                span(class='label label-warning',ng-if='i.type==="Warning"') Warning
                            td
                                strong {{i.rule}}
                                p {{i.message}}
                                p(ng-if="i.element !== 'undefined'") {{i.element}}
                    table.table.table-striped(ng-switch-default)
                        tr(ng-repeat="i in data.metrics[f.tool].data.messages")
                            td
                                span(class="badge grade{{i.grade}}",ng-if="i.grade") {{i.grade}}
                                span(class="label label-{{i.type}}",ng-if="i.type") {{i.type}}
                            td
                                strong {{i.title}}
                                p {{i.content}}