include ../test
include ../detail

mixin test


div.container

    mixin detailNav('har')

    div.ui.segment.inverted.default.attached.top.header Overview
    div.ui.segment.inverted.default.attached.bottom
        div#harComparison
            i.icon.loading
            |&nbsp; Loading...
    div.ui.segment.inverted.default.attached.top.header Primed cache
    div.ui.segment.inverted.default.attached.bottom
        div#harContainer
            i.icon.loading
            |&nbsp; Loading...
    div.ui.segment.inverted.default.attached.top.header Uncached
    div.ui.segment.inverted.default.attached.bottom
        div#harUncached
            i.icon.loading
            |&nbsp; Loading...