include ../test
include ../detail

mixin test


div.container

    mixin detailNav('history')

    div.ui.segment.inverted.default.header.attached.top(ng-repeat-start="f in fields") {{f.name}}
    div.ui.segment.inverted.default.attached.bottom(ng-repeat-end)
        div(id="{{f.tool}}History").historyChart
            i.icon.loading
