include ../test
include ../detail

mixin test


div.container

    mixin detailNav('history')

    div.panel.panel-default(ng-repeat="f in fields")
        div.panel-heading {{f.name}}
        div.panel-body.text-center
            div(id="{{f.tool}}History").historyChart
                i.icon.loading
