include ../../test
include ../../report

div.container.table-responsive(ng-controller='ReportOverviewCtrl')

    mixin test
    mixin tabs('{{report}}')
    mixin charts

    div(ng-hide="reportView === 'chart'")

        mixin filterInfo

        table#results.table.table-striped.table-condensed
            mixin reportHeaders
            tbody
                mixin reportTotals
                mixin reportLoader
                tr(ng-repeat='r in resultsTable.results')
                    mixin reportFields
                    td(ng-repeat='f in fields',class='text-center grade{{getVal(r.metrics[f.tool].grades,f.metric)}}',data-type='grades',data-value='{{getVal(r.metrics[f.tool].grades,f.metric)}}',ng-mouseenter='setPopoverContent({metrics:r.metrics[f.tool],tool:f.tool})',ng-mouseleave='setPopoverContent()')
                        a(href="#/detail/:{{r._id}}?anchor={{f.metric}}")
                            span.badge {{getVal(r.metrics[f.tool].grades,f.metric)}}
            mixin reportFooters
        mixin reportPager

    div#popoverContent.ng-hide
        ul.list-group
            li(ng-repeat='f in fieldConfig[popoverContent.tool].items', class='list-group-item {{($first ? "grade" + getVal(popoverContent.metrics.grades,f.metric) :"" )}}') {{f.name}}&nbsp;
                span(class='badge grade{{getVal(popoverContent.metrics.grades,f.metric)}}') {{getVal(popoverContent.metrics.grades,f.metric)}}

    mixin filter
