include ../../test
include ../../report

div(ng-controller='ReportOverviewCtrl')

    mixin test
    mixin tabs('{{report}}')

    mixin filterInfo
    table#results.ui.table.segment.inverted.default(data-expanded-locked="{{resultsTable.expanded}}")
        mixin reportHeaders
        tbody(ng-hide="reportView === 'chart'")
            mixin reportTotals
            mixin reportLoader
        tbody(ng-show="starredRecords.length > 0")
            tr
                td(colspan="100%").ui.menu.inverted.small
                    button.ui.item
                        i.icon.empty.star
                        |&nbsp;De-star
                    button.ui.item(ng-click="filterById()", ng-disabled="starredRecords.length > 20")
                        i(class="icon {{(filterParams.id ? 'unhide' : 'hide')}}")
                        |{{(filterParams.id ? "Show all" : "Show starred only")}}
                    button.ui.item(ng-disabled="starredRecords.length < 2 || starredRecords.length > 5",ng-click="compare()")
                        i.icon.bar.chart
                        |Compare
        tbody(ng-repeat = 'resGroup in resultsTable.results', ng-hide="reportView === 'chart'")
            tr.resultGroup(ng-init='r = resGroup.data')
                mixin reportFields(true)
                td(ng-repeat='f in fields',class='text-center grade{{getVal(r.metrics[f.tool].grades,f.metric)}}',data-type='grades',data-value='{{getVal(r.metrics[f.tool].grades,f.metric)}}',ng-mouseenter='setPopoverContent({metrics:r.metrics[f.tool],tool:f.tool})',ng-mouseleave='setPopoverContent()')
                    a(href="#/detail/:{{r._id}}?anchor={{f.tool}}")
                        span.ui.label {{getVal(r.metrics[f.tool].grades,f.metric)}}
            tr(ng-if='r.busy')
                td(colspan="8")
                    i.icon.loading
                    |&nbsp; Updating results...
            tr(ng-repeat='r in resGroup.results',ng-if='expandedUrls.indexOf(r.url) !== -1',ng-class='(starredRecords.indexOf(r._id) !== -1 ? "starred" : "")')
                mixin reportFields
                td(ng-repeat='f in fields',class='text-center grade{{getVal(r.metrics[f.tool].grades,f.metric)}}',data-type='grades',data-value='{{getVal(r.metrics[f.tool].grades,f.metric)}}',ng-mouseenter='setPopoverContent({metrics:r.metrics[f.tool],tool:f.tool})',ng-mouseleave='setPopoverContent()')
                    a(href="#/detail/:{{r._id}}?anchor={{f.tool}}")
                        span.ui.label {{getVal(r.metrics[f.tool].grades,f.metric)}}
        tbody(ng-hide="reportView === 'chart'")
            mixin reportTotals
        tfoot
            tr
                th(colspan="8")
    mixin charts
    mixin reportPager

    div#popoverContent.ng-hide
        div(ng-repeat='f in fieldConfig[popoverContent.tool].items', class='ui segment attached inverted {{($first ? "top grade" + getVal(popoverContent.metrics.grades,f.metric) : ($last ? "bottom" : "") )}}')
            span(class='ui label grade{{getVal(popoverContent.metrics.grades,f.metric)}}') {{getVal(popoverContent.metrics.grades,f.metric)}}
            |&nbsp;{{f.name}}

    mixin filter
