include ../../test
include ../../report

div.container.table-responsive(ng-controller='ReportTimeCtrl')
    mixin test
    mixin tabs('time')
    mixin charts
    mixin results
    mixin popover
    mixin filter

