include ../../test
include ../../report

div.container.table-responsive(ng-controller='ReportValidatorCtrl')
    mixin test
    mixin tabs('validator')
    mixin charts
    mixin results
    mixin popover
    mixin filter

