include ../../test
include ../../report

div.container.table-responsive(ng-controller='ReportYslowCtrl')
    mixin test
    mixin tabs('yslow')
    mixin charts
    mixin results
    mixin popover
    mixin filter

